@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700);
	
@media screen and (max-width: 767px) {

/* HEADER */
	header {
		background-color: darkseagreen;
	}
	.logo {
		width: 100%;
		height: 140px;
		background-color: #fefbf5;
		display:flex;

	}
	.logo img {
		margin: auto;
		display: flex;
	}

/* DESKTOP NAV */
	.topnav {
		display:none;
	}
	.mainnav {
		display:none;
	}
	.mainnav ul {
		display:none;
	}
	.mainnav ul li {
		display:none;
	}
	.mainnav ul li a {
		display:none;
	}
	.mainnav ul li a:hover{	
		display:none;
	}

/* MOBILE NAV */
	#header {
	  padding: 2rem;
	}

	#menu {
	  background: pink;
	  height: 100%;
	  left: 0;
	  opacity: 0;
	  overflow: hidden;
	  position: fixed;
	  text-align: center;
	  top: 0;
	  -webkit-transition: all 0.7s ease-in-out;
	  transition: all 0.7s ease-in-out;
	  visibility: hidden;
	  width: 100%;
	  z-index: 1100;
	}
	#menu.open {
	  opacity: 1;
	  visibility: visible;
	}
	#menu.open li:nth-child(1) {
	  -webkit-animation-delay: 0.1s;
			  animation-delay: 0.1s;
	}
	#menu.open li:nth-child(2) {
	  -webkit-animation-delay: 0.2s;
			  animation-delay: 0.2s;
	}
	#menu.open li:nth-child(3) {
	  -webkit-animation-delay: 0.3s;
			  animation-delay: 0.3s;
	}
	#menu.open li:nth-child(4) {
	  -webkit-animation-delay: 0.4s;
			  animation-delay: 0.4s;
	}
	#menu.open li:nth-child(5) {
	  -webkit-animation-delay: 0.5s;
			  animation-delay: 0.5s;
	}
	#menu.open li:nth-child(6) {
	  -webkit-animation-delay: 0.6s;
			  animation-delay: 0.6s;
	}
	#menu.open li:nth-child(7) {
	  -webkit-animation-delay: 0.7s;
			  animation-delay: 0.7s;
	}
	#menu.open li:nth-child(8) {
	  -webkit-animation-delay: 0.8s;
			  animation-delay: 0.8s;
	}
	#menu.open li:nth-child(9) {
	  -webkit-animation-delay: 0.9s;
			  animation-delay: 0.9s;
	}
	#menu.open li:nth-child(10) {
	  -webkit-animation-delay: 1s;
			  animation-delay: 1s;
	}
	#menu.open li {
	  -webkit-animation-duration: 1.0s;
			  animation-duration: 1.0s;
	  -webkit-animation-fill-mode: both;
			  animation-fill-mode: both;
	  -webkit-animation-name: fadeInUp;
			  animation-name: fadeInUp;
	}
	#menu ul:hover a {
	  opacity: 0.5;
	}
	#menu ul a {
	  -webkit-transform: translateZ(0);
	  -webkit-transition: opacity 0.3s ease-in-out;
	  transition: opacity 0.3s ease-in-out;
	}
	#menu ul a:hover {
	  opacity: 1;
	}
	#menu .main-nav {
	  position: relative;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
			  transform: translateY(-50%);
	}
	#menu .main-nav ul {
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}
	#menu .main-nav a {
	  color: #ffffff;
	  display: block;
	  font-size: 2.5rem;
	  font-weight: bold;
	font-family: 'Montserrat';
	  padding: 1rem 1rem;
	  text-decoration: none;
	  text-transform: uppercase;
	}
	#menu .main-nav a:first {
	  padding-top: 0;
	}
	#menu .menu-footer {
	  padding: 2rem;
	  bottom: 0;
	  left: 0;
	  position: absolute;
	  right: 0;
	}
	#menu .menu-footer ul {
	  display: inline-block;
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}
	#menu .menu-footer ul li {
	  display: inline;
	  margin: 0 1rem;
	}
	#menu .menu-footer a {
	  color: #ffffff;
	  text-decoration: none;
	  text-transform: uppercase;
	}

	.toggle-menu {
	  background-color: transparent;
	  border: none;
	  cursor: pointer;
	  display: inline-block;
	  float: right;
	  height: 11px;
	  outline: none;
	  padding: 0;
	  pointer-events: initial;
	  position: relative;
	  vertical-align: middle;
	  width: 50px;
	  z-index: 1110;
	}
	.toggle-menu span {
	  background-color: #fff;
	  content: "";
	  display: block;
	  height: 2px;
	  left: calc(50% - 13px );
	  position: absolute;
	  top: calc(50% - 1px );
	  -webkit-transform-origin: 50% 50%;
			  transform-origin: 50% 50%;
	  -webkit-transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  -webkit-transform 0.2s linear;
	  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  -webkit-transform 0.2s linear;
	  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
	  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear, -webkit-transform 0.2s linear;
	  width: 26px;
	}
	.toggle-menu span:before, .toggle-menu span:after {
	  background-color: #fff;
	  content: "";
	  display: block;
	  height: 2px;
	  position: absolute;
	  -webkit-transform-origin: 50% 50%;
			  transform-origin: 50% 50%;
	  -webkit-transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  -webkit-transform 0.2s linear;
	  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  -webkit-transform 0.2s linear;
	  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
	  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear, -webkit-transform 0.2s linear;
	  width: 26px;
	}
	.toggle-menu span:before {
	  top: 7px;
	}
	.toggle-menu span:after {
	  top: -7px;
	}
	.toggle-menu.active span {
	  background-color: transparent;
	  -webkit-transition: background 0.2s ease-out;
	  transition: background 0.2s ease-out;
	}
	.toggle-menu.active span:before, .toggle-menu.active span:after {
	  -webkit-transition: top 0.2s ease-out, -webkit-transform 0.2s 0.2s ease-out;
	  transition: top 0.2s ease-out, -webkit-transform 0.2s 0.2s ease-out;
	  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
	  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out, -webkit-transform 0.2s 0.2s ease-out;
	}
	.toggle-menu.active span:before {
	  top: 0;
	  -webkit-transform: rotate3d(0, 0, 1, -45deg);
			  transform: rotate3d(0, 0, 1, -45deg);
	}
	.toggle-menu.active span:after {
	  top: 0;
	  -webkit-transform: rotate3d(0, 0, 1, 45deg);
			  transform: rotate3d(0, 0, 1, 45deg);
	}

/* HERO */
	.heroimage {
		width: 100%;
		height: auto;
		float: left;
		transition: 0.5s;
		overflow:visible;
		position: relative;
		display: block;
	}
	.heroimage img {
		display: block;
		height: 100%;
		transition: 0.5s;
	}
	.heroimage img:hover {
		opacity: 0.7;
		transition: 0.5s;
	}
	.button {
		display: inline;
		font-family: 'Montserrat';
		font-weight: 800;
		background-color: #fefbf5;
		border-width:thin;
		border: solid medium;
		border-color: darkslategray;
		color: darkslategray;
		padding: 14px 20px;
		text-align: center;
		text-decoration: none;
		font-size: 14px;
		margin: 4px 2px;
		cursor:pointer;
		border-radius: 20px;
		transition: 0.3s;
	}
	.button:hover {	
		background-color: darkslategray;
		border: solid medium;
		border-color: darkslategray;
		color: white;
		transition: 0.3s;
	}
	.subscribe-button {
		display: inline;
		font-family: 'Montserrat';
		background-color: #252525;
		border: solid pink;
		border-width: thin;
		color: white;
		padding: 6px 15px;
		text-align: center;
		text-decoration: none;
		font-size: 15px;
		margin: 4px 2px;
		cursor:pointer;
		border-radius: 20px;
		transition: 0.3s;
	}
	.subscribe-button:hover {	
		background-color: pink;
		color: #252525;
		border: solid white;
		border-width: thin;
		transition: 0.3s;
	}

/* ABOUT */
	.about-us {
		width: 100%;
		height: 225px;
		background-color: #fefbf5;
		display:flex;
		justify-content: space-between;
	}
	.infocolumn {
		width: 100%;
		background-color: #fefbf5;
		margin: auto;
		font-family: 'Yantramanav', sans-serif;
		font-size:17px;
		line-height: 17px;
		transition: 0.5s;
		text-align:center;
		box-sizing: border-box;
		padding-left: 50px;
		padding-right: 50px;
	}
	.events {
		display:none;
	}

/* FOOD IMAGES */
	.section {
		width: 100%;
		height: auto;
		background-color: #fefbf5;
		display: block;
		justify-content:space-between;
	}
	.section-images {
		width: 100%;
		height: 98%;
		transition: 0.3s;
	}
	.section-images img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
	.section-images:hover {
		opacity: 0.5;
		transition: 0.3s;
	}

/* CAFE */
	.us {
		width: 100%;
		height: auto;
		background-color: #fefbf5;
		display: block;
		justify-content: space-between;
	}
	.us-images {
		width: 100%;
		height: 98%;
		transition: 0.3s;
	}
	.us-images img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: flex;
	}
	.us-images:hover {
		opacity: 0.5;
		transition: 0.3s;
	}

/* INSTAGRAM */
	.instagram {
		display: none;
		}
	.instagram-gallery {
		display: none;
	}
	.thumbnail {
		display: none;
	}
	.thumbnail img {
		display: none;
	}
	.thumbnail img:hover {
		display: none;
	}

/* FOOTER */
	.lowerfooter {
		display: none;
	}
	.links {
		display: none;
	}
	.links a {
		display: none;
	}
	.links a:hover {
		display: none;
	}
	.company-info {
		display: none;
	}
	.company-info a {
		display: none;
	}
	.company-info a:hover {
		display: none;
	}
	.newsletter {
		display: none;
	}
	.newsletter a {
		display: none;
	}
	.newsletter a:hover {
		display: none;
	}
	.copywright {
		display: none;
	}
	.social {
		display: none;
	}
	.social a {
		display: none;
	}
	.social a:hover {
		display: none;
	}
	input[type=text] {
		width: 25%;
		font-size: 15px;
		padding: 10px 10px;
		margin: 8px 0;
		box-sizing: border-box;
		border: none;
		background-color: #252525;
		border-bottom: 2px solid pink;
	}
	.lowerfooter2 {
		width: 100%;
		height: 450px;
		background-color: #252525;
		background-repeat: no-repeat;
		display: block;
		justify-content: space-between;
	}
	.company-info2 {
		width: 100%;
		font-family: 'Montserrat';
		text-align: center;
		font-size: 15px;
		color: aliceblue;
		display: block;
		line-height: 25px;
		box-sizing: border-box;
		padding-top: 30px;
	}
	.company-info2 a {
		text-decoration: none;
		color: white;
		transition: 0.3s;
	}
	.company-info2 a:hover {
		color: darkcyan;
		cursor: pointer;
		transition: 0.3s;
	}
	.newsletter2 {
		width: 100%;
		font-family: 'Montserrat';
		text-align: center;
		font-size: 15px;
		color: aliceblue;
		display: block;
		line-height: 25px;
		box-sizing: border-box;
		padding-top: 20px;
	}
	.newsletter2 a {
		color: aliceblue;
		transition: 0.3s;
	}
	.newsletter2 a:hover {
		color: darkseagreen;
		cursor: pointer;
		transition: 0.3s;
	}
	.social2 {
		color: pink;
		word-spacing: 10px;
		text-align: center;
	}
	.social2 a {
		text-decoration: none;
		color: pink;
		transition: 0.3s;
	}
	.social2 a:hover {
		color: white;
		cursor: pointer;
		transition: 0.3s;
	}
	.links2 {
		width: 100%;
		font-family: 'Montserrat';
		font-size: 15px;
		line-height: 40px;
		text-align: center;
		color: pink;
		display:block;
		transition: 0.3s;
		box-sizing: border-box;
		padding-top: 20px;
	}
	.links2 a {
		text-decoration: none;
		color: pink;
		transition: 0.3s;
	}
	.links2 a:hover {
		color: white;
		cursor: pointer;
		letter-spacing: 1px;
		transition: 0.3s;
	}
	.copywright2 {
		width: 100%;
		height: 40px;
		line-height: 40px;
		font-family: "Yantramanav";
		display: block;
		font-size: 12px;
		color: #252525;
		text-align: center;
		background-color: #fefbf5;
	}
}